* {
  box-sizing: border-box;
}

html {
  background-color: rgb(20, 50, 96);
  font-family: 'Oswald', Verdana, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  width: 100%;
  min-height: 100%;

}

body {
  margin: 0px;
  padding: 0px;
  width: inherit;
  min-height: inherit;

}

a {
  color: rgb(214, 131, 141);
  padding: 5px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.table {
  margin: auto;
  text-align: left;
}

.button {
  margin: 0;
  margin-left: auto;
  display: block;
  width: 150px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
}

a.button {
  border-color: rgb(20, 50, 96);
  color: rgb(20, 50, 96);
}

a.button:hover {
  background-color: rgb(20, 50, 96);
  color: lightgray;
  text-decoration: none;
  font-weight: bold;
}

.button2 {
  margin: auto;
  margin-top: 50px;
  display: block;
  width: 120px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

a.button2 {
  border-color: rgb(214, 131, 141);
  color: rgb(214, 131, 141);
}

a.button2:hover {
  background-color: rgb(214, 131, 141);
  color: lightgray;
  text-decoration: none;
  font-weight: bold;
}

nav {
  padding: 20px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: rgb(129, 216, 208);
  top: 0px;
  color: rgb(20, 50, 96);
}

nav a {
  color: rgb(20, 50, 96);
  padding: 5px;
  text-decoration: none;
}

main {
  margin: auto;
  margin-top: 200px;
  text-align: center;
}

.container {
  padding-top: 270px;
  padding-bottom: 270px;
  text-align: center;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: lightgray;
}

.name {
  padding: 40px;
}

h1 {
  color: rgb(214, 131, 141);
  font-size: 40px;
}

h2 {
  color: rgb(214, 131, 141);
  font-size: 25px;
}

h3 {
  color: rgb(129, 216, 208);
}

.hello {
  color: rgb(129, 216, 208);
  font-size: 20px;
}

.tint {
  position: relative;
  float: left;
  cursor: pointer;
}

.me {
  width: 300px;
  border-radius: 10px;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(214,131,141,0.5);
  transition: background .3s linear;
  border-radius: 10px;
}

.tint:hover:before {
  background: none;
}


.jack {
  width: 500px;
  height: 375px;
  background: url("Jack.jpg");
  background-size: cover;
  border-radius: 10px;
}

.desc2 {
  min-height: 375px;
  opacity: 0.01;
  background-color: rgb(20, 50, 96);
  padding: 30px;
  transition: opacity 1s;
}

.jack:hover .desc2 {
  opacity: 1;
}

.barn {
  width: 500px;
  height: 375px;
  background: url("barn.jpg");
  background-size: cover;
  border-radius: 10px;
}

.barn:hover .desc2 {
  opacity: 1;
}

.desc {
  min-height: 300px;
  opacity: 0.01;
  background-color: rgb(20, 50, 96);
  padding: 30px;
  transition: opacity 1s;
}

.bio {
  height: 300px;
  width: 400px;
  background: url("bio.jpg");
  background-size: cover;
  border-radius: 10px;
}

.bio:hover .desc {
  opacity: 1;
}


.wireframe {
  height: 300px;
  width: 400px;
  background: url("bioWireframe.png");
  background-size: cover;
  border-radius: 10px;
}

.wireframe:hover .desc {
  opacity: 1;
}

.ord {
  height: 572px;
  width: 597px;
  border-radius: 10px;
}


.nosql {
  height: 319px;
  width: 315px;
  border-radius: 10px;
}



.nodeShopper {
  height: 179px;
  width: 912px;
  border-radius: 10px;
}


.nodeShopperNoSQL {
  height: 850px;
  width: 308px;
  border-radius: 10px;
}



.nodeTech {
  height: 185px;
  width: 916px;
  border-radius: 10px;
}



.nodeTechNoSQL {
  height: 396px;
  width: 270px;
  border-radius: 10px;
}

.teach {
  height: 280px;
  width: 920px;
  border-radius: 10px;
}

.nodeSecurity {
  height: 914px;
  width: 334px;
  border-radius: 10px;
}

.booka {
  height: 379px;
  width: 618px;
  border-radius: 10px;
}

.bookb {
  height: 423px;
  width: 831px;
  border-radius: 10px;
}

.book {
  height: 487px;
  width: 496px;
  border-radius: 10px;
}

.project_83 {
  height: 300px;
  width: 400px;
  background: url("JS_8.3_project.jpg");
  background-size: cover;
  border-radius: 10px;
}

.project_83:hover .desc {
  opacity: 1;
}

.pattProto {
  height: 300px;
  width: 400px;
  background: url("w2_a2.2.jpg");
  background-size: cover;
  border-radius: 10px;
}

.pattProto:hover .desc {
  opacity: 1;
}

.portfolio {
  height: 300px;
  width: 400px;
  background: url("portfolio_prototype.png");
  background-size: cover;
  border-radius: 10px;
}

.portfolio:hover .desc {
  opacity: 1;
}

.trivia {
  height: 300px;
  width: 400px;
  background: url("trivia.jpg");
  background-size: cover;
  border-radius: 10px;
}

.trivia:hover .desc {
  opacity: 1;
}

.api-gateway {
  height: 300px;
  width: 400px;
  background: url("random.jpg");
  background-size: cover;
  border-radius: 10px;
}

.api-gateway:hover .desc {
  opacity: 1;
}

.async {
  height: 300px;
  width: 400px;
  background: url("composer.jpg");
  background-size: cover;
  border-radius: 10px;
}

.async:hover .desc {
  opacity: 1;
}

.gpa {
  height: 300px;
  width: 400px;
  background: url("student.jpg");
  background-size: cover;
  border-radius: 10px;
}

.gpa:hover .desc {
  opacity: 1;
}

.images td {
  padding: 0px;
}

.images {
  margin: auto;
}

.images2 {
  margin: auto;
  margin-top: 200px;
}

.images2 td {
  padding: 20px;
}

footer {
  padding: 50px;
  background-color:rgb(129, 216, 208);
  color: rgb(20, 50, 96);
  width: 100%;
  margin: 0px;
  padding-left: 100px;
  padding-right: 100px;
}

.footer {
  width: 100%;
}

.social {
  width: 48px;
}

.socials {
  text-align: right;
}

html.darkMode {
  background-color: rgb(10, 25, 48);
}

nav.darkMode, footer.darkMode{
  background-color: rgb(65, 108, 104);
  color: lightgray;
}

nav.darkMode a {
color: lightgray;
}

a.button.darkMode {
  border-color: rgb(10, 25, 48);
  color: rgb(10, 25, 48);
}

a.button.darkMode:hover {
  background-color: rgb(10, 25, 48);
  color: lightgray;
}

.desc.darkMode, .desc2.darkMode {
  background-color: rgb(10, 25, 48);
}
